<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIT Madras</title>
  </head>
  <body>
    <h1 class="mainTitle">Course Details</h1>
    <table border="2" id="course-details-table">
      <tr>
        <th>Average Marks</th>
        <th>Maximum Marks</th>
      </tr>
      <tr>
        <td>{{ avg_marks }}</td>
        <td>{{ max_marks }}</td>
      </tr>
    </table>
    <img src="/static/course_histogram.png" alt="course_histogram" />
    <br />
    <a href="/" class="goback">Go Back</a>
  </body>
</html>
