<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIT Madras</title>
  </head>
  <body>
    <h1 class="mainti">Enter the details</h1>
    <form method="POST" action="/" id="data-form">
      <input type="radio" name="ID" value="student_id" />
      <label>Student ID</label>
      <input type="radio" name="ID" value="course_id" />
      <label>Course ID</label>
      <input type="text" name="id_value" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
