<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IITM Madras</title>
  </head>
  <body>
    <h1 class="maintitle">Update Student</h1>
    <form
      action="{{ url_for('update', student_id=id_student) }}"
      method="POST"
      id="update-form"
    >
      <div>
        <label>Roll Number:</label>
        <input type="text" name="roll" value="{{current_roll}}" disabled />
      </div>
      <br />
      <div>
        <label>First Name:</label>
        <input type="text" name="f_name" value="{{current_f_name}}" required />
      </div>
      <br />
      <div>
        <label>Last Name:</label>
        <input type="text" name="l_name" value="{{current_l_name}}" />
      </div>
      <br />
      <div>
        <label>Select Courses: </label>
        <input type="checkbox" name="courses" value="course_1" />
        <label>MAD I</label>
        <input type="checkbox" name="courses" value="course_2" />
        <label>DBMS</label>
        <input type="checkbox" name="courses" value="course_3" />
        <label>PDSA</label>
        <input type="checkbox" name="courses" value="course_4" />
        <label>BDM</label>
      </div>
      <br />
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
